@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
$typography-font-family : 'Montserrat', sans-serif !default;

$primary   : #ee4a4e;
$secondary : #c4699b;
$accent    : #7673bc;

$dark      : #333543;
$dark-page : #121212;
$white     : #ffffff;
$grey      : #f6f7f9;
//$grey      : #E8EBF0;

$positive  : #009e84;
$negative  : #ee4a4e;
$info      : #3db2e7;
$warning   : #fdd96d;
